*~
.DS_Store
coverage.data
coverage/
db/*.sqlite3
db/schema.rb
jetty/logs/*.log
jetty/solr/data/*
log
webrat-*
public/media
config/SolrMarc/*.log*

solr_marc/solrmarc.log

*.log
tmp
vendor/gems
vendor/rails
vendor/plugins/openvault_ingest/solr/*.xml
hydra-jetty/logs
hydra-jetty/fedora/default/data
*.class
cachedir
vendor/plugins/openvault_ingest/solr/xml
public/mosaic.jpg
public/LiveSearchSiteAuth.xml
public/sitemap.xml.gz
public/google*

hydra-jetty/fedora/default/derby/
hydra-jetty/fedora/default/server/fedora-internal-use/fedora-internal-use-backend-service-policies/
hydra-jetty/fedora/default/server/fedora-internal-use/has-started.txt
hydra-jetty/fedora/default/server/logs/
hydra-jetty/fedora/default/server/management/upload/
hydra-jetty/fedora/default/server/status

