<div class="registration-required info-fedora_wgbh-video">
<img src="<%= fedora_url %>/get/<%= fedora_object %>/sdef:THUMBNAIL/preview" class="placeholder"/>
<div class="error">
<h2>Registration Required</h2>
<p>An Open Vault account is required to watch this record. Sign-up is quick and free. Please login above or <%= link_to 'register here', new_user_path %>. </p>
</div>
</div>
