<div class="lightboxTitle">
Saved Record(s)
</div>


<p  class="lightboxCaption">
Your record(s) have been saved. Go to MyPage to view your saved searches and records.
</p>

<div class="action">
<a href="/bookmarks" class="raised">Visit MyPage</a>
<a class="close">Close</a>
</div>

