<div class="lightboxTitle">
Saved Record(s)
</div>


<p  class="lightboxCaption">
To save records, click on a record's check box or the "select all" check box. Then click on "Save Selected Records"
</p>

<div class="action">
<a class="close">Close</a>
</div>

